@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="container">
    <div class="row col-12 col-lg-10 mx-auto">
        <h1 class="my-4">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>