@model int
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <h1 class="text-primary pt-3">Rent paid Successfully!</h1>
            <h3 class="text-danger">Your rent number is : @Model</h3>
            <img class="img-fluid w-50 py-3" src="~/img/hand-confirm.png" />
        </div>
    </div>
</div> 

